<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Preview</title>
  <style>
    .active {
      background-color: #ddd;
    }
  </style>
</head>
<body>
  <!-- 宿主文件 -->
  <div id="app">
    <!-- 插值文本 -->
    <h2 :title="title">{{title}}</h2>
    <course-add @add-course="addCourse"></course-add>
    <course-list :courses="courses"></course-list>
    <!-- 商品总数 -->
    <p>
      <!-- 表达式 -->
      <!-- 课程总数：{{ courses.length + '门' }} -->
      <!-- 计算属性 -->
      课程总数：{{ total }}
      <!-- 监听器 -->
      <!-- 课程总数：{{ totalCount }} -->
      
    </p>
  </div>
  <script src="../vue.js"></script>

  <script>
    Vue.component("course-add",{
      data() {
        return {
          course: ''
        }
      },
      methods: {
        addCourse() {
          // 派发事件，通知父组件更新courses
          this.$emit('add-course', this.course);
          this.course = '';
        }
      },
      template: `
        <!-- 用户输入 -->
        <div>
          <p>
            <input type="text" v-model="course" v-on:keydown.enter="addCourse">
            <button @click="addCourse">add</button>
          </p>
        </div>
      `
    })
    Vue.component("course-list",{
      data() {
        return {
          selectedCourse: '',
        }
      },
      props: {
        courses: {
          type: Array,
          default: [],

        }
      },
      template: `
        <div>
          <!-- 条件渲染 -->
          <p v-if="courses.length == 0">没有课程信息</p>
          <div class="course-list" v-else>
            <!-- 列表渲染 -->
            <!-- class绑定 -->
            <!-- <div v-for="c in courses" :key="c" :class="{active: selectedCourse === c}" @click="selectedCourse = c">
              {{ c }}
            </div> -->
            <!-- style绑定 -->
            <div v-for="c in courses" :key="c" :style="{backgroundColor: (selectedCourse === c ? '#ddd' : 'transparent') }" @click="selectedCourse = c">
              {{ c }}
            </div>
          </div>
        </div>
      `
    });
    // 模拟异步数据调用
    function getCourses() {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve(['web全栈','web高级'])
        }, 2000);
      })
    }
    // 创建Vue实例
    const app = new Vue({
      el: "#app",
      data() {
        return {
          title: "购物车!",
          courses: [],
          totalCount: 0
        }
      },
      // 组件实例已创建，由于未挂载，dom不存在
      async created () {
        const courses = await getCourses();
        this.courses = courses;
      },
      mounted () {
        
      },
      methods: {
        addCourse(course) {
          // 添加course到数组
          this.courses.push(course)
        }
      },
      computed: {
        total() {
          // 计算属性有缓存性，值没有变化，页面不会重新渲染
          return this.courses.length + '门' 
        }
      },
      // 默认watch，初始化不执行
      // watch: {
      //   courses(newValue, oldValue) {
      //     this.totalCount = newValue.length + '门'
      //   }
      // },
      // watch: {
      //   courses: {
      //     immediate: true, // 立即执行一次
      //     // deep: true,
      //     handler(newValue, oldValue) {
      //       this.totalCount = newValue.length + '门'
      //     }
      //   }
      // },
    });
  </script>
</body>
</html>